[submodule "deps/haml-js"]
	path = deps/haml-js
	url = git://github.com/creationix/haml-js.git
[submodule "deps/proto"]
	path = deps/proto
	url = git://github.com/creationix/proto.git
[submodule "deps/node-router"]
	path = deps/node-router
	url = git://github.com/creationix/node-router.git
[submodule "deps/step"]
	path = deps/step
	url = git://github.com/creationix/step.git
